/* rem and em do not depend on html font-size in media queries. 1rem = 1em = 16px */

/************************/
/* Below 1344px - Small desktop */
@media (max-width: 84em) {
  html {
    font-size: 59.375%;
  }

  .primary-heading {
    font-size: 5.2rem;
  }

  .grid {
    gap: 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .section-social-links {
    padding: 1.2rem 1.6rem;
  }

  .social-link {
    font-size: 2.2rem;
  }
}

/************************/
/* Below 1200px - Landscape tablet */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .primary-heading {
    font-size: 4.4rem;
  }

  .grid {
    gap: 2.4rem;
  }

  .section-social-links {
    flex-direction: row;
    justify-content: center;
    background-color: initial;
    border-radius: 0;
    position: static;
  }

  .social-link:link,
  .social-link:visited {
    color: #656565;
  }

  .social-link:hover,
  .social-link:active {
    cursor: pointer;
    color: black;
  }

  .section-footer {
    line-height: inherit;
  }

  .copywright {
    display: block;
  }
}

/************************/
/* Below 976px - Tablet */
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }

  .secondary-heading::after {
    width: 65%;
  }

  /* Mobile navigation */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    /* Slide-in effect */
    transform: translateX(100%);

    /* Hide visually */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
  }

  .main-nav-link:link,
  .main-nav-link:visited,
  .main-nav-list .btn {
    font-size: 2rem;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
}

/************************/
/* Below 704px - Small tablet */
@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .profile-img-box {
    grid-row: 1/2;
    width: 40%;
  }

  .project-img-box {
    width: 50%;
  }

  .project-img-box:nth-child(2) {
    grid-row: 1;
  }

  .project-img-box:nth-child(6) {
    grid-row: 5;
  }

  .project-img-box {
    transform: translateY(2.4rem);
  }

  .secondary-heading::after {
    width: 55%;
  }

  .contact-form .btn {
    padding: 2.4rem;
  }
}

/************************/
/* Below 544px - Phone */
@media (max-width: 34em) {
  html {
    font-size: 43.75%;
  }

  .project-img-box {
    width: 70%;
  }

  .project-link:link,
  .project-link:visited {
    margin-right: 1.2rem;
  }

  .section-social-links {
    gap: 2.4rem;
  }

  .secondary-heading::after {
    width: 45%;
  }

  .contact-form label {
    margin-bottom: 1.6rem;
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 3.2rem;
  }

  .contact-form textarea {
    height: 15rem;
  }

  .social-link:link,
  .social-link:visited {
    font-size: 3rem;
  }
}
