/************************/
/* Header */
.header {
  height: 6.4rem;
  padding: 0 1.2rem;
  justify-content: flex-end;

  /* Mobile navigation  */
  position: relative;
  z-index: 1;
}

.main-nav-list {
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #222;
  font-size: 1.8rem;
  font-weight: 500;
  display: inline-block;
  padding: 1.2rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  cursor: pointer;
}

.main-nav-link.active {
  border-bottom: 3px solid #facf0f;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

/* Mobile navigation */
.btn-mobile-nav {
  border: none;
  background-color: initial;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 6.4rem;
  color: #facf0f;
  --ionicon-stroke-width: 6.2rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/************************/
/* Hero Section */
.section-hero {
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-bottom: 9.6rem;
}

.primary-heading span:first-child {
  font-size: 2rem;
  font-weight: 600;
}

.hero-description {
  font-size: 2rem;
  max-width: 64rem;
  line-height: 1.5;
  text-align: justify;
}

/************************/
/* About */
.section-about {
  margin-bottom: 9.6rem;
}

.profile-description {
  font-size: 2rem;
  margin: 2.4rem 0;
  text-align: justify;
  line-height: 1.5;
}

.skills h3 {
  margin-bottom: 2.4rem;
}

.skills-list {
  margin-bottom: 2.4rem;
  list-style: none;
}

.skill-item {
  display: inline-block;
  font-size: 2rem;
  padding: 1.2rem;
  margin: 0.4rem;
  background-color: #e6e6e6;
  border-radius: 3px;
}

.link-contact:link,
.link-contact:visited {
  text-decoration: none;
  color: #222;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  background-color: #facf0f;
  border-radius: 3px;
}

.link-contact:hover,
.link-contact:active {
  cursor: pointer;
}

.profile-img-box {
  width: 50%;
  position: relative;
}

.profile-img-box::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border: 3px solid #facf0f;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: -1;
}

.profile-img {
  width: 100%;
}

/************************/
/* Projects */
.section-projects {
  margin-bottom: 9.6rem;
}

.project-title-box {
  margin-bottom: 1.6rem;
}

.project-link:link,
.project-link:visited {
  font-size: 2.4rem;
  color: #222;
  margin-right: 0.4rem;
}

.project-link:last-child {
  margin-right: 0;
}

.project-link:hover,
.project-link:active {
  cursor: pointer;
}

.icon-github,
.icon-open {
  pointer-events: none;
}

.project-description {
  font-size: 2rem;
  margin-bottom: 1.6rem;
  text-align: justify;
  line-height: 1.5;
}

.project-img {
  width: 100%;
}

/************************/
/* Get In Touch */
.section-contact {
  margin-bottom: 9.6rem;
}

.welcome-message {
  font-size: 2rem;
  line-height: 1.5;
  /* Grid alignment */
  align-self: start;
}

.contact-form {
  /* Grid alignment */
  justify-self: stretch;
  /* Flexbox alignment */
  flex-direction: column;
  align-items: stretch;

  background-color: #e6e6e6;
  padding: 2.4rem;
  border-radius: 3px;
}

.contact-form label {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 3px;
}

.contact-form input,
.contact-form textarea {
  font-family: inherit;
  font-size: 2rem;
  margin-bottom: 2.4rem;
  border: none;
  border-radius: 3px;
  padding: 1.6rem;
}

.contact-form textarea {
  height: 12.8rem;
}

.contact-form .btn {
  font-size: 2rem;
  padding: 1.6rem;
}

/************************/
/* Social links */
.section-social-links {
  flex-direction: column;
  gap: 1.6rem;
  background-color: rgba(230, 230, 230, 0.95);
  padding: 1.6rem 2.4rem;
  border-radius: 3px;
  position: fixed;
  bottom: 8rem;
}

.social-link:link,
.social-link:visited {
  font-size: 2.4rem;
  color: black;
}

.social-link:hover,
.social-link:active {
  cursor: pointer;
}

/************************/
/* Footer */
.section-footer {
  line-height: 8rem;
  text-align: center;
}

.copywright {
  font-size: 1.4rem;
  line-height: 3.2rem;
  display: inline-block;
  vertical-align: bottom;
}
